body {
    font-family: sans-serif;
    margin: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

#container-filmes {
    display: grid;
    /* Usa Grid para o layout principal */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.cartao-filme {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
}

.cartao-filme:hover {
    transform: translateY(-5px);
}

.cartao-filme img {
    width: 100%;
    height: auto;
    display: block;
}

.info-filme {
    padding: 15px;
}

.info-filme h3 {
    margin-top: 0;
    color: #e50914; /* Cor de destaque */
}

.info-filme p {
    font-size: 0.9em;
    color: #666;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}
